*{
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.all{
    width: 40%;
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgb(200, 192, 192);
    border-radius: 1rem;

}
.pill-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-right: 0;
}
.pill{
    width: 100%;
    color: rgb(61, 60, 60);
    background-color: rgb(217, 223, 223);
    border-right: 1px solid black;
    padding: 1rem;
    cursor: pointer;
}
.bodypill{
    width: 100%;
    height: 200px;
    background-color: rgb(65, 63, 63);
    color: azure;
    border: 1px solid black;
    line-height: 28px;
    padding: 1rem;
}
@keyframes move{
    from{opacity: 0.1;}
    to{
        opacity: 1;
    }
}
.pill-body{
    font-size: 25px;
    animation: move 1s ease-in;
}